body {
    background-color: #f4f6f9;
    font-family: 'Segoe UI', sans-serif;
}

.perfil-card {
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

.perfil-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 4px solid #dee2e6;
}